body, .calculator, .display, .number-pad, .number, .operator-pad, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    font-size: 24px;
    font-weight: 700;
}