body, html {
    height: 100%;
}

body, .calculator, .display, .number-pad, .number, .operator-pad, .operator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display, .number-pad, .operator-pad {
    flex: auto;
}

.calculator {
    height: 50%;
    flex-direction: column;
}

.display {
    font-size: 32px;
    font-weight: 700;
}

.number-pad {
    flex-direction: column;
}